/* #main > h1{
    color:red;
    
} */
/* #main > h1{
    color:red;

}*/
body{
    min-height: 100vh;
  background: linear-gradient(#c5d608, #258bff,rgb(102, 4, 214));
} 
h1::after{
    content: "Name";
}


#card{
    height: 400px;
    width: 300px;
    background-color: rgb(118, 235, 235);
    }
#card:hover{
    background-color: rgb(222, 17, 17);
}
#card:active{
    background-color: rgb(43, 255, 0);
}
input:focus{
    color:rgb(255, 255, 255);
    background-color: rgb(255, 0, 98);
    





}